<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Add Contact </title>
    <style>
        .form-control {
    margin: 1rem 0;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  
  .form-control input,
  .form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline-color: #0fcab4;
  }
  h1 {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:darken(#e5e5e5, 50%);
    border-bottom:solid 1px #e5e5e5;
  }
  p {
    margin: 0 0 3em 0;
    position: relative;
  }
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }
 
 
  /* label{
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
  } */
  .main-header {
    width: 100%;
    height: 3.5rem;
    background-color:  #867f1a;
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: rgb(126, 10, 10);
}
  


  
        </style>
</head>
<body>
        <header class="main-header">
                <nav class="main-header__nav">
                    <ul class="main-header__item-list">
                        <li class="main-header__item"><a href="/contact">My contacts</a></li>
                        <li class="main-header__item"><a class="active" href="/add-contact">Add Contacts</a></li>
                        <li class="main-header__item"><a class="active" href="/login">Login</a></li>
                        <li class="main-header__item"><a class="active" href="/signup">Sign Up</a></li>


                    </ul>
                </nav>
            </header>
  <form action="/add-contact" method="post">
    <div class="form control">
        <h1>Add Contact</h1>
        <p>Create a new Contact</p>
        <hr>
    </div>
    <div class="form control">

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" required>
        </div>
        <br/>
 <div class="form control">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    </div>
    <br/>
    <div class="form control">

            <label for="mobile"><b>Mobile Number</b></label>
            <input type="text" placeholder="Enter number" name="number" required>
        </div> 
    <br/> 
    <!-- <div class="form control">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
    <br/>  -->
    
        <!-- <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label> -->
    
    <!--    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>    -->
    
        <div class="clearfix">
          <button type="submit" class="btn">Add-Contact</button>
        </div>
      </div>
  </form>
</body>
</html>