<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Contact-list </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>
<body>
        <header class="main-header">
                <nav class="main-header__nav">
                    <ul class="main-header__item-list">
                        <li class="main-header__item"><a href="/contact">My Contacts</a></li>
                        <li class="main-header__item"><a class="active" href="/add-contact">Add Contatct</a></li>
                        <li class="main-header__item"><a class="active" href="/login">Login</a></li>
                        <li class="main-header__item"><a class="active" href="/signup">Sign Up</a></li>


                    </ul>
                </nav>
            </header>
            <main>


                <table style="width:100%" class="grid">
                            <tr>
                                    <th>Name</th>
                                    <th>Email</th> 
                                    <th>Mobile number</th>
                                  </tr>
                        
                     <tr>
                              <td>Everety</td>
                              <td>new@new.com</td> 
                              <td>943245678</td>
                    </tr>
                          </table>
                    
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let contact of prods) { %>
                            <article class="card contact-item">
                                <div class="card__header">
                                 <h2 class="contact__name">
                                        Name-<%= contact.name %>
                                 </h2>
                                </div>
                                <div class="card__content">
                                    <h2 class="card__email">
                                  Email-<%= contact.email %>
                                    </h2>
                                </div>
                                <div class="card__content">
                                    <h2 class="contact__number">
                                       Mobile Number- <%= contact.number %>
                                    </h2>
                                </div>
                    
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Contacts Found!</h1>
                        <% } %>
            </main>
<!--   
  <h1> List of all your contacts.....</h1> -->
</body>
</html>